/* DOCTYPE: CSS */
/* Style for Bio*/

body {
	font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #66CCFF;
    margin: 20px;
    padding: 0;
}

h1 {
    color: #FFF2E7;
    background-color: #66CCFF;
    margin: 0;
    margin-bottom: 14px;
    padding: 4px;
    font-style: italic;
    text-align: center;
}

li {
	font-style: italic;
	color: #003300;
	line-height: 2.5;
}


p {
	line-height: 2;
}

img {
    border-style: double;
    border-width: 2px;
    border-color: #ccc;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
