/* DOCTYPE: CSS */
/* Style for Bio*/

body {
	font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    color: black;
    background-color: #3062AC;
    margin: 20px;
    padding: 0;
}

h1 {
    color: #FFF2E7;
    background-color: #3062AC;
    margin: 0;
    margin-bottom: 14px;
    padding: 4px;
    font-style: italic;
    text-align: center;
}
h2{
    color: #CCFFCC;
}
h3{
    color: #CCFFFF;
}
li{
    color: #CCFFFF
}


li {
	font-style: italic;
	color: #003300;
	line-height: 2.5;
}


p {
	line-height: 2;
    color: #FFFFFF;
}

img {
    border-style: double;
    border-width: 2px;
    border-color: #ccc;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
a {
	font-size: 22px;
	color: #F0FFFF;
}
